/* random-card.module.css */
.card {
  width: 240px;
  height: 240px;
  background: linear-gradient(to bottom right, #16a34a, #0d9488);
}

.cardBody {
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
}

.svg {
  width: 36px;
  height: 36px;
  box-shadow: 0 0 10px rgba(66, 64, 64, 0.15);
}

.indicator {
  stroke: white;
}

.track {
  stroke: rgba(88, 85, 85, 0.1);
}

.value {
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.size {
  width: 240px;
  height: 240px;
}
