@import './colors';

@media (max-width: 811px) {
  .card-xs-topmargin {
    margin-top: 10%;
  }
}

/* stylelint-disable selector-list-comma-newline-after */
.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}
@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}

.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 768px) {
  .blog-title {
    font-size: 3.5rem;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
  & > .btn {
    border-radius: 2rem;
    &.disabled:hover {
      color: #6c757d;
      text-decoration: none;
    }
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
    &:focus {
      text-decoration: none;
    }
  }
}

/*
   * Blog posts
   */
.blog-post {
  .blog-post-title {
    margin-bottom: 0.25rem;

    a {
      color: $github;
      &:hover {
        color: $github_light;
        text-decoration: none;
      }
    }
  }

  .embed-responsive-item {
    .blog-post-image {
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 0.25rem;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .blog-post-image {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    background-size: fill;
    width: 100%;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
  }
  .blog-post-body {
    text-align: justify;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .blog-post-footer {
    a.tags {
      color: #ffffff;
      &:hover {
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}
