/* Links */

#cover-page-bg {
  width: 100%;
  height: 100%;
  padding-bottom: 5rem;
  background-color: #333 !important;
  background-position: bottom;
  background-size: cover;

  h1 {
    font-family: 'Playfair Display', Georgia, 'Times New Roman', serif;
    font-size: 2.25rem;
  }

  #cover-page {
    height: auto;
    width: 100%;
    padding: 0 auto;
    background-size: cover;
    display: flex;
    color: #fff;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);

    .cover {
      height: auto;
      width: 100%;
      margin: auto;
      text-align: center;
      padding: 1.5rem 0.5rem;
      background-color: rgba(33, 33, 33, 0.5) !important;

      .inner {
        max-width: 42em;
        margin: 0 auto;
      }
    }

    .mastfoot {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}
