@import './fonts';
//@import './_header';
@import './featured';
@import './blog';
@import './colors';
@import './preloader';
@import './offcanvas';
@import './carousel';

$bgcolor: #efefef;

body {
  background-color: $bgcolor;
  line-height: 1.2;
}
@media (min-width: 768px) {
  body {
    line-height: 1.5;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', Georgia, 'Times New Roman', serif;
}

a {
  color: $green_dark;
  &:hover {
    color: $green_light;
  }

  &.facebook {
    color: $facebook;
  }
  &.github {
    color: $github;
  }
  &.linkedIn {
    color: $linkedin;
  }
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}
